.env
prompt.md
test_connection_firebase.py
test_connection_gemini_db.py
.venv
backend/serviceAccountKey.json
backend/serviceAccountKey2.json
__pycache__/
*.pyc
node_modules/
dist/
.DS_Store
firebase.json
frontend/.env